*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.tab_wrap{
  width:1000px;
   margin:80px auto;

}

.tab {
    display: flex;
    flex-direction: row;
    text-align: center;
     background-color: #fff !important;
    margin: 0 !important;
    font-size:25px;
   /*/*color:#999;*/ background:#ddd;
    padding: 0;
  }

.tab span.on{/*background-color: #5767bf;  color:  #000022;*/}

.tab li+li {
  border-left: 1px solid /*#999;*/
}

ul {
  list-style: none;
  background-color: transparent;
}

  .tab__item {
    flex: 1;

  }
  .tab__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #444;
    cursor: pointer;
  }
  .tab__link:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 2px;
    background-color: #444;
    transition: all 0.4s ease-out;
  }
  .tab__link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #444;
    transition: all 0.4s ease-out;
  }
  .tab__link.on:before {
    width: 50%;
  }
  .tab__link.on:after {
    width: 50%;
  }
  .tab-body {
    position: relative;
    height: 120vh;
  }
  .tab-body__item {
    position: absolute;
    width: 100%;
    margin: 30px 15px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .tab-body__item.on {
    opacity: 1;
  }
  .no{
    display: none;
  }

table {
  width: 80%;
}

th {
  width: 15%;
  color:  #000000;

}

table, th, td {
  border-collapse: collapse;
  /*border: 1px solid #ccc;*/
  line-height: 1.5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  border:1px solid  #000000;
}

th {
  /*background: #DDDDDD ;*/
  opacity:0.5;

 }

 h3 {
  /*border-left: 12px solid #5767bf;
  text-align: left;*/
 }

 .title-box h1 {
  /*border-bottom: 4px solid #5767bf;
  text-align: left;*/
 }

 .tab_label {
  /* background-color: #5767bf;*/
 }

 body {
 /*  background-color: #486d46;          */  /* 背景色 */
  /* background-image: url("test2.jpeg"); */  /*画像 */
   /*background-size: cover;*/               /* 全画面 */
   /*background-attachment: fixed;*/         /* 固定 */
   /*background-position: center center;*/   /* 縦横中央 */
 }

/* .back::before{
  background-color: black;
  opacity: 0.4;
}*/

  h2.title {
  /*  color: #fff;*/
 }
 
  h3.title02 {
  /*  color: #fff;*/
 }
 
 td, br {
    /*color: #fff*/
 }
 
 p {
  /*color: #fff;*/
 }

 h1 {
 /* color: #fff;
  text-align: left;*/
  }

#end_word_under{
  font-size: 20px;
  text-decoration: underline;
}


.animation {
  width:260px;
  height:70px;
  text-align:center;
  border:2px solid #BBBBBB;
/*  float:left;*/
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin-left: auto; margin-right: auto;
  margin-top: 40px;

}
.animation a {
  font-family:arial;
  font-size:20px;
  color:#BBBBBB;
  text-decoration:none;
  line-height:65px;
  transition:all .10s ease;
  z-index:2;
  position:relative;
  color: #000000;
}
.effect {
  width:270px;
  height:70px;
  top:-2px;
  left:-270px;
  background:#BBBBBB;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  display: inline-block;
  width: 275px;
  background: #000000;
}
.animation:hover .effect {
  left:0;
}
.animation:hover a {
  color:#FFFFFF;
}

a {
  color: #000000;
}

a.no-color-change:hover {
  /*color: #5767bf;*/
}

a.no-color-change {
  color:#000000;
}

.pankuzu li {

  position: relative;
  display: inline-block;
  padding-left: 20px;
  color:#000000;
  text-decoration: none;
}

.pankuzu li:after {

  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(45deg);
}

*, *::before, *::after {
    box-sizing: border-box;
}